{% extends "wagtailadmin/base.html" %}

{% block extra_css %}
    {{ media.css }}
{% endblock %}

{% block extra_js %}
    {{ media.js }}

    <script>

document.addEventListener('DOMContentLoaded', event => {
    var body = document.getElementById('form-field-demo');

    var widgetData = JSON.parse(body.dataset.widgets);
    widgets = [];
    for (name in widgetData) {
        widgets[name] = telepath.unpack(widgetData[name]);
    }

    var formData = JSON.parse(body.dataset.formdata);
    for (fieldName in formData) {
        var div = document.createElement('div');
        body.appendChild(div);
        widgets[fieldName].render(div, fieldName, 'id_' + fieldName).setState(formData[fieldName]);
    }
});

    </script>
{% endblock %}


{% block content %}
    <div id="form-field-demo" data-widgets="{{ widgets }}" data-formdata="{{ form_data }}">
    </div>
{% endblock %}
