{% extends "wagtailadmin/base.html" %}

{% block extra_css %}
    {{ media.css }}
{% endblock %}

{% block extra_js %}
    {{ media.js }}

    <script>

document.addEventListener('DOMContentLoaded', event => {
    var body = document.getElementById('form-field-demo');

    var widgetData = JSON.parse(body.dataset.widgets);
    widgets = [];
    for (name in widgetData) {
        widgets[name] = telepath.unpack(widgetData[name]);
    }
    var div;

    div = document.createElement('div');
    body.appendChild(div);
    widgets.title.render(div, 'title', 'id_title').setState("Matthew");

    div = document.createElement('div');
    body.appendChild(div);
    widgets.description.render(div, 'description', 'id_description').setState("just this guy, y'know?");

    div = document.createElement('div');
    body.appendChild(div);
    widgets.office.render(div, 'office', 'id_office').setState("charlbury");
});

    </script>
{% endblock %}


{% block content %}
    <div id="form-field-demo" data-widgets="{{ widgets }}">
    </div>
{% endblock %}
